$first-color: rgba(106, 217, 154, 1);
$second-color: rgba(69, 140, 100, 1);
$third-color: rgba(115, 115, 115, 1);
$third-color-overshadowed: rgba(115, 115, 115, .35);
$fourth-color: rgba(13, 13, 13, 1);
$fourth-color-overshadowed: rgba(13, 13, 13, .85);
$fifth-color: rgba(27, 114, 191, 1);
$fifth-color-overshadowed: rgba(27, 114, 191, .5);
$sixth-color: rgba(4, 85, 191, 1);
$seventh-color: rgba(236, 0, 0, 1);
$eighth-color: rgba(242, 242, 242, 1);